<app-dynamic-form
[title]="'PR / RR Bonus Rule 20000002 Details'"
[metadata]="metadata"
[fields]="formFields"
[formData]="formData"
(fieldChange)="onFieldChange($event)"
(modalOpen)="onModalOpen($event)"
></app-dynamic-form>

<app-tier-profile-modal
*ngIf="showModal"
[title]="activeModal?.modalConfig?.title || ''"
[columns]="activeModal?.modalConfig?.columns || []"
[displayKeys]="activeModal?.modalConfig?.displayKeys || []"
[data]="activeModal?.modalConfig?.data || []"
(cancel)="showModal = false"
(rowClick)="onModalSelect($event)"
></app-tier-profile-modal>