<div class="modal-overlay">
  <div class="modal-container">
    <h3 class="modal-header">{{ title }}</h3>

    <table class="tier-table">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" (click)="handleRowClick(row)">
          <td *ngFor="let key of displayKeys">{{ row[key] }}</td>
        </tr>
      </tbody>
    </table>

    <div class="modal-footer">
      <button (click)="cancel.emit()">Cancel</button>
    </div>
  </div>
</div>